.userinformation {
	font-size: 0.8em;
}

.panel {
	background-color: lightgrey;
}

body {
	background-color: #74B72A;
}

h1 {
	color: black;
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

.buttons {
	float: right;
	display: block;
	right: 8px;
}

.contactcommunities {
	float: left;
}

.contactlist {
	float: left;
	background-color: lightgrey;
	margin-right: 150px;
}

.communitylist {
	background-color: lightgrey;
	float: left;
	margin-right: 300px;
}

.image {
	float: left;
}

#headerBtnLeft {
	float: left;
	margin-top: 3px;
	margin-bottom: 3px;
}

#headerBtnRight {
	float: right;
	margin-top: 10px;
	margin-bottom: 3px;
}

#footer {
	background-color: grey;
	display: block;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 1;
}

#header {
	background-color: grey;
}

.createForm{
	background-color: #FFFFF0;
}

.activityStream {
	
	padding-right: 100px;
	padding-left: 100px;
}
.postComments {
	
	padding-right: 100px;
	padding-left: 100px;
}

#content{
	padding-right: 13px;
}
